<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stcos.server.database.mysql.ProcessDetailsMapper">
    <!--返回的对象为TaskDetails-->
    <resultMap id="task_details" type="com.stcos.server.entity.process.ProcessDetails">
        <id column="project_id" property="projectId"/>
        <id column="title" property="title"/>
        <id column="version" property="version"/>
        <id column="test_type" property="testType"/>
        <id column="application_date" property="applicationDate"/>
        <id column="applicant" property="applicant"/>
        <id column="company" property="company"/>
        <id column="telephone" property="telephone"/>
        <id column="email" property="email"/>
        <id column="address" property="address"/>
        <id column="start_date" property="startDate"/>
        <id column="due_date" property="dueDate"/>
        <collection property="taskDetailsList"
                    ofType="com.stcos.server.entity.process.TaskDetails">
            <id column="task_id" property="taskId"/>
            <id column="process_id" property="processId"/>
            <id column="task_name" property="taskName"/>
            <id column="department" property="department"/>
            <id column="operator" property="operator"/>
            <id column="start_date" property="startDate"/>
            <id column="finish_date" property="finishDate"/>
            <id column="result" property="result"/>
            <id column="description" property="description"/>
        </collection>
    </resultMap>
    <select id="selectTaskListById" parameterType="java.lang.Long" resultMap="task_details">
        SELECT *
        FROM t_task_details t1,
             t_process_details t2
        WHERE t1.process_id = t2.project_id
          AND t1.process_id = #{id}
    </select>
    <insert id="saveProcess" parameterType="com.stcos.server.entity.process.ProcessDetails" useGeneratedKeys="true"
            keyColumn="project_id">
        USE stcos;
        INSERT INTO t_process_details
        VALUE
        (
        #{projectId},
        #{title},
        #{version},
        #{testType},
        #{applicationDate},
        #{applicant},
        #{company},
        #{telephone},
        #{email},
        #{address},
        #{startDate},
        #{dueDate})
        ON DUPLICATE KEY UPDATE title=VALUES(title),
        version=VALUES(version),
        test_type=VALUES(test_type),
        application_date=VALUES(application_date),
        applicant=VALUES(applicant),
        company=VALUES(company),
        telephone=VALUES(telephone),
        email=VALUES(email),
        address=VALUES(address),
        start_date=VALUES(start_date),
        due_date=VALUES(due_date)
        ;
        INSERT INTO t_task_details VALUES
        <foreach collection="taskDetailsList" item="task" separator=",">
            (#{task.taskId},#{task.processId},#{task.taskName},#{task.department},#{task.operator},#{task.startDate},#{task.finishDate},#{task.result},#{task.description})
        </foreach>;
    </insert>
</mapper>