openapi: 3.0.3
info:
  title: 南大软件测试中心在线系统
  description: 后端 API 文档
  version: 1.0.0
  contact:
    name: 在线系统项目 A 组
    url: https://github.com/OnlineSystemGroupA
    email: support@example.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: http://masterchedan.top:8081/
    description: Development server

paths:
  /auth/register:
    post:
      tags:
        - authentication
      summary: 用户注册
      description: 注册新用户
      operationId: register
      requestBody:
        description: "用户注册所必需的信息"
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/RegisterParam"
        required: true
      responses:

        '200':
          description: 注册成功
        '409':
          description: 用户名已存在

  /auth/login:
    post:
      tags:
        - authentication
      summary: 用户登录
      description: 登录成功返回 token
      operationId: login
      parameters:
        - name: user-type
          in: query
          required: true
          description: 进行登录的用户类型：admin、operator、client.
          schema:
            type: string
      requestBody:
        description: 用户名、密码
        content:
          'application/json':
            schema:
              $ref: "#/components/schemas/LoginParam"
        required: true
      responses:
        '200':
          description: 登录成功
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/Token"
        '404':
          description: 用户不存在
        '401':
          description: 用户名或密码错误
        '403':
          description: 账号禁用

  /auth/logout:
    post:
      tags:
        - authentication
      summary: 用户注销
      description: 注销登录
      operationId: logout
      responses:
        '200':
          description: 注销成功

  /workflow/start:
    post:
      tags:
        - workflow
      summary: 启动流程
      description: 开启一个新的委托流程
      operationId: startProcess
      responses:
        '200':
          description: 启动成功
          content:
            'application/json':
              schema:
                $ref: "#/components/schemas/ProcessId"
  /workflow/processes:
    get:
      tags:
        - workflow
      summary: 获取流程实例
      description: 获取与当前用户相关的流程实例
      operationId: getProcesses
      parameters:
        - name: pageIndex
          in: query
          required: true
          description: 需要查询的页号
          schema:
            type: integer
            format: int32
        - name: numPerPage
          in: query
          required: true
          description: 每页的项目条目数
          schema:
            type: integer
            format: int32
        - name: orderBy
          in: query
          required: true
          description: 用于排序的字段
          schema:
            type: string
      responses:
        '200':
          description: 成功获取流程实例列表
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Process"

  /workflow/processes/count:
    get:
      tags:
        - workflow
      summary: 流程实例总数
      description: 获取与当前用户相关的流程实例总数
      operationId: getProcessCount
      responses:
        '200':
          description: ok
          content:
            'application/json':
              schema:
                type: integer
                format: int32

  /workflow/processes/{processId}/tasks/{taskId}/complete:
    post:
      tags:
        - workflow
      summary: 完成任务
      description: 将指定任务设置为已完成，并跳转至下一阶段
      operationId: completeTask
      parameters:
        - name: processId
          in: path
          description: 待完成任务所属的流程实例 Id
          required: true
          schema:
            type: string
        - name: taskId
          in: path
          description: 待完成的任务 Id
          required: true
          schema:
            type: string
        - name: passable
          in: query
          description: 是否通过，流程遇到网关用于决定运行方向
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 成功完成指定任务
        '403':
          description: 指定任务对该用户不可见或当前用户无完成任务权限
        '404':
          description: 指定任务或流程不存在

  /workflow/processes/{processId}/details:
    get:
      tags:
        - workflow
      summary: 获取流程详情
      description: 获取流程详情
      operationId: getProcessDetails
      parameters:
        - name: processId
          in: path
          description: 流程实例 Id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功获取指定流程的详细信息
        '403':
          description: 指定流程对该用户不可见
        '404':
          description: 指定流程不存在

  /workflow/processes/{processId}/forms:
    get:
      tags:
        - workflow
      summary: 获取表单
      description: 获取表单
      operationId: getFormMetadata
      parameters:
        - name: processId
          in: path
          description: 指定流程实例 id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 成功获取可见表单列表
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FormMetadata"
        '404':
          description: 指定流程不存在

  /workflow/processes/{processId}/forms/{formName}:
    parameters:
      - name: processId
        in: path
        description: 指定流程实例 id
        schema:
          type: string
        required: true
      - name: formName
        in: path
        description: 期望操作的表单名称
        schema:
          type: string
        required: true
    put:
      tags:
        - workflow
      summary: 更新或创建表单
      description: 更新或创建表单
      operationId: putForm
      requestBody:
        required: true
        content:
          'text/plain':
            schema:
              description: 包含表单对象的 JSON 字符串
              type: string
      responses:
        '200':
          description: 成功更新或创建表单
        '403':
          description: 该流程实例对当前用户不可见或当前用户无修改权限
        '404':
          description: 指定流程实例不存在
    get:
      tags:
        - workflow
      summary: 获取表单
      description: 获取表单
      operationId: getForm
      responses:
        '200':
          description: 成功获取指定表单
          content:
            'text/plain':
              schema:
                description: 包含表单对象的 JSON 字符串
                type: string
        '403':
          description: 指定流程或表单对该用户不可见
        '404':
          description: 指定流程或表单不存在

  /workflow/processes/{processId}/sample:
    parameters:
      - name: processId
        in: path
        description: 指定流程实例 id
        schema:
          type: string
        required: true
    post:
      tags:
        - workflow
      summary: 上传样品
      description: 上传与对应流程相关的样品文件
      operationId: uploadSample
      requestBody:
        description: 需要上传的样品文件
        content:
          'multipart/form-data':
            schema:
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '201':
          description: 成功上传
          content:
            'application/json':
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/fileIndex"
        '400':
          description: 没有上传文件
        '403':
          description: 该任务对当前用户不可见或当前用户无修改权限，或文件校验不通过
        '404':
          description: 指定任务不存在
        '500':
          description: 上传文件失败
        '507':
          description: 存储空间不足
    get:
      tags:
        - workflow
      summary: 所有样品下载
      description: 获取指定任务中的指定资源
      operationId: downloadSample
      responses:
        '200':
          description: 成功获取指定资源
          content:
            'application/octet-stream':
              schema:
                type: string
                format: binary
        '403':
          description: 指定任务或资源对该用户不可见
        '404':
          description: 指定任务或资源不存在

  # 账号相关 API
  /account/client_details:
    get:
      summary: 获取个人信息
      description: 获取当前登录账号的账号信息
      operationId: getClientDetails
      responses:
        '200':
          description: ok
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/ClientDetails'
        '409':
          description: 当前登录账号的类型不是 client
    post:
      summary: 修改个人信息
      description: 修改当前登录账户的个人信息
      operationId: updateClientDetails
      requestBody:
        description: 修改后的个人信息
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/ClientDetails'
      responses:
        '200':
          description: ok
        '409':
          description: 当前登录账号的类型不是 client

components:
  schemas:
    RegisterParam:
      type: object
      required:
        - username
        - email
        - password
      properties:
        username:
          type: string
          description: 用户名，唯一
        email:
          type: string
          description: 用户邮箱
        password:
          type: string
          description: 用户密码

    LoginParam:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string

    Token:
      type: object
      required:
        - tokenHead
        - tokenStr
      properties:
        tokenHead:
          type: string
          description: token 的头部，前端请求携带 token 时需要将其拼接在 token 之前
        tokenStr:
          type: string
          description: token 字符串

    Process:
      type: object
      required:
        - projectId
        - processId
        - taskId
        - title
        - taskName
        - assignee
        - startUser
        - startDate
      properties:
        projectId:
          type: string
          description: 软件测试项目的 ID
        processId:
          type: string
          description: 流程实例 ID
        taskId:
          type: string
          description: 当前任务的实例 ID
        title:
          type: string
          description: 待测试软件名称
        taskName:
          type: string
          description: 当前任务的名称
        assignee:
          type: string
          description: 当前任务被分配人姓名
        startUser:
          type: string
          description: 流程发起人姓名
        startDate:
          type: string
          description: 流程发起时间

    fileIndex:
      type: object
      required:
        - fileIndexId
        - fileName
        - fileType
      properties:
        fileIndexId:
          type: integer
          format: int64
          description: 文件索引 ID
        fileName:
          type: string
          description: 文件名
        fileType:
          type: string
          description: 文件类型



    ProcessId:
      required:
        - processId
      properties:
        processId:
          type: string
          description: 新委托流程的 ID

    FormMetadata:
      required:
        - formIndexId
        - formName
      properties:
        formIndexId:
          type: integer
          format: int64
          description: 表单索引 ID
        formName:
          type: string
          description: 表单名称

    # 账号相关 DTO
    ClientDetails:
      required:
        - username
        - createdDate
        - realName
        - email
        - phone
        - gender
        - company
        - companyTelephone
        - companyFax
        - companyAddress
        - companyPostcode
        - companyWebsite
        - companyEmail
        - companyPhone
      properties:
        username:
          type: string
          description: 用户名
        createdDate:
          type: string
          description: 账号创建时间
        realName:
          type: string
          description: 用户的真实姓名
        email:
          type: string
          description: 邮箱
        phone:
          type: string
          description: 联系电话
        gender:
          type: string
          description: 性别
        company:
          type: string
          description: 公司名称
        companyTelephone:
          type: string
          description: 公司电话号
        companyFax:
          type: string
          description: 公司传真
        companyAddress:
          type: string
          description: 公司地址
        companyPostcode:
          type: string
          description: 公司邮编
        companyWebsite:
          type: string
          description: 公司网址
        companyEmail:
          type: string
          description: 公司邮箱
        companyPhone:
          type: string
          description: 公司电话
